# Auth.js v5
AUTH_SECRET=run-`openssl rand -base64 32`-and-paste-here
AUTH_GOOGLE_ID=your-web-app-google-oauth-client-id.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=your-web-app-google-oauth-client-secret

# API URLs
# Server-side fetches go here. In prod can be the Fly internal hostname.
API_URL=http://localhost:3001
# Client-side fetches go here.
NEXT_PUBLIC_API_URL=http://localhost:3001
